body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkorange;
    padding: 20px;
    border-style:solid;
    border-top-left-radius: 2cm;
    border-bottom-right-radius: 2cm;
    
}

input {
    margin-bottom: 15px;
}

button {
    margin-right: 10px;
}

button {
    margin-right: 20px;
}